.address{
    width: 100%;
}
.address .box1{
    background-color: black;
    align-items: center;
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 25vh;
    margin-top: 3%;
    margin-left: 3%;
    border-radius: 10%;
    height:35vh;
    padding-top: 10px;

}
.address .box1 h1{
    color: white;
}