img{
    height: 55vh;
    width: 65.1vh;
    padding: 5px 5px;
    border-radius: 2%;

}

.image h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 750;
    color: darkorchid;
    padding: 10px;
    
}
.image{
    text-align: center;
    background-color: rgb(240, 242, 247);
}

.image a{
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 10px 20px;
    border: 2px solid rgb(63, 29, 29);
    border-radius: 10px;
    margin-bottom: 5%;
    color:rgb(243, 12, 12);
    }