.navbar{
    width:100%;
    height:auto;
    padding:0%;
}

.navbar .heading{
    text-align: left;
    font-size: 2rem;
    font-weight: 750;

}

.navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;   
    font-size: 1.2rem;
    font-weight: 750;
    
}