.last{
    background-color: black;
    align-items: center;
    text-align: center;
    display: flex;
    height: 55vh;
    flex-direction: column;
}

.last .desc h1{
    margin-top: 5%;
    color: green;
    font-size: 2.5rem;
    letter-spacing: 2pt;
    font-weight: 750;
    font-family: sans-serif;
}

.last .desc p{
    color: white;
    font-size: 1.5rem;
    letter-spacing: 1.5pt;
    font-weight: 400;
}
.last .footer{
    margin-top: 5%;
}

.last .footer p{
    letter-spacing: 1pt;
    font-size: 1.5rem;
    font-weight: 200;
    font-style: italic;
    color:white;
}